<p>
	<strong>Pregunta:</strong>
	<%= @pregunta.question %>
</p>

<p>
	<strong>Valor:</strong>
	<%= @pregunta.value %>
</p>

<p>
	<strong>Area:</strong>
	<%= @pregunta.area %>
</p>

<%= link_to 'Atrás', questions_path %>