<p>
	<strong>Pregunta:</strong>
	<%= @pregunta.texto_pregunta %>
</p>

<p>
	<strong>Valor:</strong>
	<%= @pregunta.valor %>
</p>

<p>
	<strong>Area:</strong>
	<%= @pregunta.area %>
</p>

<%= link_to 'Back', preguntas_path %>