@import "bootstrap-sprockets";
@import "bootstrap";

.center{
  text-align:center;

}

.jumbotron{
  background-image: url(/assets/logo.png);
  background-size: cover;
  height: 500px;
}

.navbar{
    background-color: #3d71b2;
}


#logo{
    color: white;
}

.row{
    padding-left: 25%;
}

#rojo{
    background-color: #e8c9ce;
}

.article-title{
    font-weight: bold;
    font-size: 1.5em;
}


